<html>
  <head>
    <title>Contacts List</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="/assets/contact-list.js"></script> 
  </head>

  <body>
    <h1>Contacts</h1>
    <hr>  
    <div id="add-contacts">
    <h2> Add Contacts</h2>
      <form action="/contacts/addNew" method="POST">
        <label>Name</label> </br>
        <input type="text" name="item"></br>
        <label>Phone</label></br>
        <input type="text" name="item"></br>
        <label>Address</label></br>
        <input type="text" name="item">
        <input value="Save" type="submit"/>
      </form>
    </div>
    <hr>
    <div id="show-contacts">
      
      <ul>
        <% for(var i = 0; i < contacts.length; i++) { %>
          <li><%= contacts[i].name %></li>
        
          <li><%= contacts[i].phone %></li>
       
          <li><%= contacts[i].address %></li>
          <li>-----------------------------</li>
        <% } %>
      </ul>

      <!--       <ul>
        <% for(var i = 0; i < contacts.length; i++) { %>
          <li><%= contacts[i].name %></li>
        <% } %>

        <% for(var i = 0; i < contacts.length; i++) { %>
          <li><%= contacts[i].phone %></li>
        <% } %>

        <% for(var i = 0; i < contacts.length; i++) { %>
          <li><%= contacts[i].address %></li>
        <% } %>
      </ul> -->
      
    </div>
  </body>

</html>
  